doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Build components not walls - demos!
    style.
      * {
      margin: 0;
      padding: 0;
      }
      html {
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      body {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      }
      h1,
      h2,
      h3,
      ol,
      li a {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-bottom: 2rem;
      }
      h2 {
      margin-left: 2rem;
      }
      h3 {
      margin-left: 3rem;
      }
      li {
      list-style-position: inside;
      margin-left: 4rem;
      margin-bottom: 1rem;
      }
  body
    h1 Build components not walls 🔧 Converting TodoMVC
    h2
      | React (
      a(target='blank', href='react/index.pug') Start
      |  -
      a(target='blank', href='react/index-stencil.pug') End
      | )
    ol
      li
        a(target='blank', href='react/index-1-count/index-1-count.pug') Add todo-count
      li
        a(target='blank', href='react/index-2-count-toggle/index-2-count-toggle.pug') Add todo-toggle
      li
        a(target='blank', href='react/index-3-count-toggle-filters/index-3-count-toggle-filters.pug') Add todo-filters
      li
        a(target='blank', href='react/index-4-count-toggle-filters-input/index-4-count-toggle-filters-input.pug') Add todo-input
      li
        a(target='blank', href='react/index-5-count-toggle-filters-input-item/index-5-count-toggle-filters-input-item.pug') Add todo-item
      li
        a(target='blank', href='react/index-6-count-toggle-filters-input-item-list/index-6-count-toggle-filters-input-item-list.pug') Add todo-list
    h2
      | Vue (
      a(target='blank', href='vue/index.pug') Start
      |  -
      a(target='blank', href='vue/index-stencil.pug') End
      | )
    ol
      li
        a(target='blank', href='vue/index-1-count/index-1-count.pug') Add todo-count
      li
        a(target='blank', href='vue/index-2-count-toggle/index-2-count-toggle.pug') Add todo-toggle
      li
        a(target='blank', href='vue/index-3-count-toggle-filters/index-3-count-toggle-filters.pug') Add todo-filters
      li
        a(target='blank', href='vue/index-4-count-toggle-filters-input/index-4-count-toggle-filters-input.pug') Add todo-input
      li
        a(target='blank', href='vue/index-5-count-toggle-filters-input-item/index-5-count-toggle-filters-input-item.pug') Add todo-item
      li
        a(target='blank', href='vue/index-6-count-toggle-filters-input-item-list/index-6-count-toggle-filters-input-item-list.pug') Add todo-list
