doctype html
html
  head
    title Vue Todo using web components
    link(rel='stylesheet', href='https://www.unpkg.com/todomvc-app-css@2.2.0/index.css')
  body
    #app
    script(src='./index-stencil.js')
    script(type='module', src='https://stencil-todo.netlify.com/stencil-todo/stencil-todo.esm.js')
    script(nomodule='', src='https://stencil-todo.netlify.com/stencil-todo/stencil-todo.js')
