doctype html
html(lang='en')
  head
    title Vue Todo using web components
    link(rel='stylesheet', href='https://www.unpkg.com/todomvc-app-css@2.2.0/index.css')
  body
    #app
    script(src='./index.js')
