doctype html
html
  head
    title Vue Todo using web components
    link(rel='stylesheet', href='https://www.unpkg.com/todomvc-app-css@2.2.0/index.css')
  body
    #app
    script(src='./index-4-count-toggle-filters-input.js')
    script(type='module', src=process.env.SCRIPT_ESM_URL)
    script(nomodule='', src=process.env.SCRIPT_URL)
